<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>WorkBench</title>
</head>
<body>
<h1> Work Bench </h1>
<p>
    Workbench password project view
</p>
</body>
</html>